{% extends 'navbar.html' %}
{% block content %}

<h1>Welcome to DJANGO</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat modi asperiores ducimus explicabo nisi, consequuntur doloribus aliquid! Quisquam sint, soluta ratione itaque iusto architecto commodi. Accusamus quia minus assumenda laudantium.</p>
<hr>

<div class="table-container">
    <table class="table table-bordered border-primary">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Empty Slots</th>
                <th >ID</th>
                <th>Name</th>
                <th>Free Bikes</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Timestamp</th>
                <th>Address</th>
                <th>Normal Bikes</th>
                <th>Payment</th>
            </tr>
        </thead>
        <tbody>
            {% for station in stations %}
            <tr>
                <td>{{ station.contador }}</td>
                <td>{{ station.empty_slots }}</td>
                <td>{{ station.id }}</td>
                <td>{{ station.name }}</td>
                <td>{{ station.free_bikes }}</td>
                <td>{{ station.latitude }}</td>
                <td>{{ station.longitude }}</td>
                <td>{{ station.timestamp }}</td>
                <td>{{ station.address }}</td>
                <td>{{ station.normal_bikes }}</td>
                <td>{{ station.payment | join:", " }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}