{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>Extraction Proyect</title>
</head>
<body>
    <nav class="navbar container2">
        <ul>
            <li>
                <a href="{% url 'request' %}" data-item='Request'>Request</a>
            </li>
            <li>
                <img src="{% static 'img/Baldr.png' %}" alt="Logo" class="navLogo">
            </li>
            <li>
                <a href="{% url 'selenium' %}" data-item='Selenium'>Selenium</a>
            </li>
        </ul>
    </nav>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>